.app {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-primary);
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 10;
    transition: padding-bottom 0.2s ease-out;
}